workflows/01 - New Order Reception.json
{
  "name": "01 - New Order Reception",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-order",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8a650bf7-040a-4ce2-a745-39d8acc05a15",
      "name": "Webhook",
      "webhookId": "4fa6049b-417f-4958-9445-4ecfd908bcbe"
    },
    {
      "parameters": {
        "jsCode": "const order = $json.body || $json;\n\nconst errors = [];\n\nif (!order.order_code) {\n  errors.push(\"Order code is required\");\n}\n\nif (!order.customer || !order.customer.full_name) {\n  errors.push(\"Customer full name is required\");\n}\n\nif (!order.customer || !order.customer.email) {\n  errors.push(\"Customer email is required\");\n}\n\nif (!order.items || order.items.length === 0) {\n  errors.push(\"Order must contain at least one item\");\n}\n\nif (!order.total_amount || order.total_amount <= 0) {\n  errors.push(\"Total amount must be greater than 0\");\n}\n\nif (errors.length > 0) {\n  return [\n    {\n      json: {\n        valid: false,\n        errors: errors\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      valid: true,\n      order: order\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "a86b2a53-523a-4cff-b200-2afde055f97a",
      "name": "Validate Data"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\", \"message\": \"Order received\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1504,
        368
      ],
      "id": "587be219-cb5b-4c09-91fb-169970b0e6e0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO customers (full_name, email, phone)\nVALUES (\n  '{{ $json.order.customer.full_name }}',\n  '{{ $json.order.customer.email }}',\n  '{{ $json.order.customer.phone }}'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -112
      ],
      "id": "351aab90-bc13-4e0d-b97f-a5d94acc1826",
      "name": "Insert Customer",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO orders (\n  order_code,\n  customer_id,\n  total_amount,\n  status,\n  payment_status,\n  delivery_status\n)\nVALUES (\n  '{{ $('Validate Data').item.json.order.order_code }}',\n  {{ $json.id }},\n  {{ $('Validate Data').item.json.order.total_amount }},\n  'confirmed',\n  '{{ $('Validate Data').item.json.order.payment_status }}',\n  'not_shipped'\n)\nRETURNING id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        -112
      ],
      "id": "6c5e788f-8aa9-480d-94a7-74fbef01992c",
      "name": "Insert Order",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $('Validate Data').item.json.order.items;\nconst orderId = $json.id;\n\nconst results = [];\n\nfor (const item of items) {\n  results.push({\n    json: {\n      order_id: orderId,\n      product_code: item.product_code,\n      quantity: item.quantity,\n      unit_price: item.unit_price,\n      line_total: item.quantity * item.unit_price\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        -112
      ],
      "id": "bfcf6150-541d-44a5-b875-84ceddcc8894",
      "name": "Insert Order Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO order_items (\n  order_id,\n  product_id,\n  quantity,\n  unit_price,\n  line_total\n)\nSELECT\n  {{ $json.order_id }},\n  id,\n  {{ $json.quantity }},\n  {{ $json.unit_price }},\n  {{ $json.line_total }}\nFROM products\nWHERE product_code = '{{ $json.product_code }}'\nRETURNING \n  id,\n  product_id,\n  '{{ $json.product_code }}' as product_code,\n  {{ $json.quantity }} as ordered_quantity;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        -112
      ],
      "id": "e6c3e8f1-677e-46e2-ab1c-63954b3336fd",
      "name": "Save Order Items",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "270f7be5-df61-42a1-af09-f049444ba2af",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        0
      ],
      "id": "a5a6b116-2a05-4248-8e2f-ed628cbff20a",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"error\", \"valid\": false, \"errors\": \"{{ $json.errors }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        624,
        368
      ],
      "id": "81a16718-d002-4d69-ad68-a01699b73274",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3gNduXAA5tg1w3yX",
          "mode": "list",
          "cachedResultUrl": "/workflow/3gNduXAA5tg1w3yX",
          "cachedResultName": "03 - Customer Email Confirmation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1296,
        368
      ],
      "id": "74e9e9fa-d50f-40d6-9fae-8d06c1ea5a53",
      "name": "Call Email Confirmation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d82933ce-a038-4f3c-bee3-8b0687dfd410",
              "name": "customer_email",
              "value": "={{ $('Validate Data').item.json.order.customer.email }}",
              "type": "string"
            },
            {
              "id": "a2f2fbf2-32d5-42ad-a030-092869999b7b",
              "name": "customer_name",
              "value": "={{ $('Validate Data').item.json.order.customer.full_name }}",
              "type": "string"
            },
            {
              "id": "9c4a3a37-b0d1-4957-876e-37567b89636c",
              "name": "order_code",
              "value": "={{ $('Validate Data').item.json.order.order_code }}",
              "type": "string"
            },
            {
              "id": "5f72ef61-7fe6-4cde-bc28-6ee502682e28",
              "name": "total_amount",
              "value": "={{ $('Validate Data').item.json.order.total_amount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        352
      ],
      "id": "4e478ec1-c4be-4a8c-815e-cab46a3cac76",
      "name": "Prepare Email Data"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "687753f1-35d8-4ac9-98a3-6d7370249068",
              "name": "order_code",
              "value": "={{ $('Validate Data').item.json.order.order_code }}",
              "type": "string"
            },
            {
              "id": "8fde3a0c-b39d-4af9-ae26-1f50af78bb7d",
              "name": "customer_name",
              "value": "={{ $('Validate Data').item.json.order.customer.full_name }}",
              "type": "string"
            },
            {
              "id": "9919bfa0-7db4-4f7c-8fb9-e0d04c2d6ec8",
              "name": "customer_email",
              "value": "={{ $('Validate Data').item.json.order.customer.email }}",
              "type": "string"
            },
            {
              "id": "bf9e3c85-9dcd-4512-aa89-cc6fd817625c",
              "name": "total_amount",
              "value": "={{ $('Validate Data').item.json.order.total_amount }}",
              "type": "string"
            },
            {
              "id": "c30e7d4a-6004-43ab-95b9-001470191d56",
              "name": "payment_status",
              "value": "={{ $('Validate Data').item.json.order.payment_status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -112
      ],
      "id": "7fb2576c-8ce4-40d0-9de5-57f6c1003461",
      "name": "Prepare Telegram Data"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "E8H3vALst6C5Ay7y",
          "mode": "list",
          "cachedResultUrl": "/workflow/E8H3vALst6C5Ay7y",
          "cachedResultName": "04 - Telegram Notification"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1376,
        -112
      ],
      "id": "814dc4df-dfbb-4ffe-80de-ed85786c9875",
      "name": "Call '04 - Telegram Notification'"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Customer": {
      "main": [
        [
          {
            "node": "Insert Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Order": {
      "main": [
        [
          {
            "node": "Insert Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Order Items": {
      "main": [
        [
          {
            "node": "Save Order Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Order Items": {
      "main": [
        [
          {
            "node": "Prepare Telegram Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Email Confirmation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Data": {
      "main": [
        [
          {
            "node": "Call Email Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Telegram Data": {
      "main": [
        [
          {
            "node": "Call '04 - Telegram Notification'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "514c4efb-2b09-446a-aa01-36b1987ae201",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02365461c6c52b5d348b9d4b6f944532f8607f6493dc94539984dd0a2add56cf"
  },
  "nodeGroups": [],
  "id": "0OqBRJBLpdfsI3ih",
  "tags": []
}