workflows/09 - Daily Sales Report.json
{
  "name": "09 - Daily Sales Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -624,
        -32
      ],
      "id": "dbec9439-5002-4035-bbd5-7952004e1ff1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) AS total_orders,\n  COALESCE(SUM(total_amount), 0) AS total_sales\nFROM orders;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -464,
        -32
      ],
      "id": "48504c92-e3c0-4f27-bc7a-43562c0bd1f6",
      "name": "Get Daily Orders",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  status,\n  COUNT(*) AS total\nFROM orders\nGROUP BY status;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -32
      ],
      "id": "3c4a63a1-398a-46b1-81e3-5dc7c981c853",
      "name": "Get Orders by Status",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  p.product_name,\n  SUM(oi.quantity) AS total_sold,\n  SUM(oi.line_total) AS total_revenue\nFROM order_items oi\nJOIN products p ON p.id = oi.product_id\nJOIN orders o ON o.id = oi.order_id\nGROUP BY p.product_name\nORDER BY total_sold DESC\nLIMIT 5;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -112,
        -32
      ],
      "id": "1e09c264-74cb-4e7c-86a1-bfb36234293b",
      "name": "Get Top Products",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  product_name,\n  stock_quantity,\n  minimum_stock\nFROM products\nWHERE stock_quantity <= minimum_stock\nORDER BY stock_quantity ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        -32
      ],
      "id": "ad5dd12b-22c4-4fb8-95da-2a5de10de437",
      "name": "Get Low Stock Products",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "autoshop@store.com",
        "toEmail": "manager@autoshop.com",
        "subject": "=📊 Daily Sales Report - {{ $now.toFormat('dd/MM/yyyy') }}",
        "emailFormat": "text",
        "text": "=DAILY SALES REPORT\nDate: {{ $now.toFormat('dd/MM/yyyy') }}\n\nSALES SUMMARY\nTotal Orders: {{ $('Get Daily Orders').item.json.total_orders }}\nTotal Sales: {{ $('Get Daily Orders').item.json.total_sales }} TND\n\nORDERS BY STATUS\n{{ $('Get Orders by Status').all().map(item => item.json.status + ': ' + item.json.total).join('\\n') }}\n\nTOP PRODUCTS\n{{ $('Get Top Products').all().map(item => item.json.product_name + ': ' + item.json.total_sold + ' units').join('\\n') }}\n\nLOW STOCK ALERT\n{{ [...new Set($('Get Low Stock Products').all().map(item => item.json.product_name + ': ' + item.json.stock_quantity + ' units'))].join('\\n') }}\n\nAutoShop System",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        272,
        -32
      ],
      "id": "b2030b4b-3a28-4e54-9c41-fa08112d1597",
      "name": "Send Report to Manager",
      "webhookId": "e43c49b2-1f91-4fe7-89a5-0e3ebe663cc5",
      "credentials": {
        "smtp": {
          "id": "lMnhHudFf1D3124q",
          "name": "Mailpit Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO automation_logs (\n  workflow_name,\n  action,\n  status,\n  details\n)\nVALUES (\n  '09 - Daily Sales Report',\n  'daily_report_sent',\n  'success',\n  'Daily report sent to manager - Orders: {{ $('Get Daily Orders').item.json.total_orders }} - Sales: {{ $('Get Daily Orders').item.json.total_sales }} TND'\n)",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        480,
        -32
      ],
      "id": "7cf02977-8f86-479e-b83b-9c9f8d2e8ed3",
      "name": "Save Log",
      "credentials": {
        "postgres": {
          "id": "N03WY2oeHmlYaQQf",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Daily Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Orders": {
      "main": [
        [
          {
            "node": "Get Orders by Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Orders by Status": {
      "main": [
        [
          {
            "node": "Get Top Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Top Products": {
      "main": [
        [
          {
            "node": "Get Low Stock Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Low Stock Products": {
      "main": [
        [
          {
            "node": "Send Report to Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Report to Manager": {
      "main": [
        [
          {
            "node": "Save Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "78a14b66-cf16-408a-b981-91f7aba2e444",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "02365461c6c52b5d348b9d4b6f944532f8607f6493dc94539984dd0a2add56cf"
  },
  "nodeGroups": [],
  "id": "H5ODZOOFy7yNsBue",
  "tags": []
}